<html>
<head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <title><%= @title%></title>
</head>
<body>

<div class="container">
    <div class="header">
      <h1>Gambling site</h1>
    </div>
    <div class="subContainer">
      <div class="content">
        <%= yield %>
      </div>
    </div>


</div>

</body>
</html>
