<p><%=session[:message]%>&nbsp</p>
<form action="/login" method='post'>
  <table class="table1">
    <tr>
      <td>
        <p>User</p>
      </td>
      <td>
        <input type="text" class="Username" name="Username"/>
      </td>
    </tr>
    <tr>
      <td>
        <p>Password</p>
      </td>
      <td>
        <input type="password" class="Password" name="Password"/>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" class="login_btn">Login</button>
      </td>
    </tr>
  </table>
</form>